* {
    margin: 0;
    padding: 0;
}

body {
    
    color: #ffffff;
}
header {
    background-color: #2f5eff;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.logo {
    font-weight: bold;
    font-size: 30px;
}

.blue {
    color: #00dde6;
}

.orange {
    color: #ffc000;
}

.red {
    color: #ff350f;
}

.green {
    color: #b3e81b;
}

.white {
    color: #ffffff;
}

.navmini {
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Fredoka One', cursive;
    background-color: #3c6bff;
    border: #5391fe solid 3px;
    box-shadow: 0 0 5px #3e82ff;
    border-radius: 50px;
}

.buttonnav {
    display: flex;
    flex-direction: row;
    background: linear-gradient(to top, #3591fe, #27d3fe);
    border: #ffffff solid 8px;
    box-shadow: 0 0 5px #3e82ff;
    border-radius: 50px;
    width: 200px;
    height: 70px;
    font-size: 20px;
    font-family: 'Fredoka One', cursive;
    color: #ffffff;
}

.buttonarrow {
    display: flex;
    flex-direction: row;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid white;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.navlink {
    position: relative;
    font-size: 20px;
    z-index: 2;
}

.navlink:hover::before {
    transform: rotate(0deg);
    top: 16px;
    border-radius: 5px;
    left: -4px;
    padding: 0 4px;
    width: 100%;
    height: 3px;
}

.navlink::before {
    z-index: -1;
    position: absolute;
    content: " ";
    transition: all 150ms ease-in-out;
    display: block;
    left: -9px;
    top: 6px;
    width: 6px;
    height: 6px;
    background-color: #ffc000;
    transform: rotate(45deg);
    border-radius: 1px;
}

.blueblok {
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    margin-left: 70px;
    background-color: #2f5eff;
}

.whitetext {
    font-size: 100px;
    font-weight: bold;
}

.rightPicture {
    width: 900px;
    height: 600px;
    margin-left: 35px;
}

.leftPicture {
    width: 100px;
    height: 100px;
}

.blueAndWhiteButton {
    background: linear-gradient(to top, #ff9d44, #feb543);
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 10px #e35912;
    border: #ffffff solid 8px;
    box-shadow: 0 80 2px #020813;
    border-radius: 50px;
    width: 400px;
    height: 100px;
    font-size: 30px;
    font-family: 'Fredoka One', cursive;
    color: #ffffff;
}

.leftPicture {
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 500px;
    border: #ffffff solid 15px;
    border-radius: 0 10% 10% 0;
    border-left: none;
    
}

.bluetextmax {
    display: flex;
    flex-direction: row;
    font-size: 80px;
    font-weight: bold;
    color: #5276f1;
    font-family: 'Fredoka One', cursive;
    margin-left: 90px;
}

.bluetextmin {
    display: flex;
    flex-direction: column;
    margin-left: 90px;

}

.whiteblok {
    display: flex;
    flex-direction: row;
    background-color: #f6f6fe;
}

.whiteblok {

    margin-top: 90px;

}